<h2><%= @artist.format_name %></h2>

<p>Exhibit: <%= @artist.exhibit.name.capitalize %></p>

<p>Price: <%= @artist.price %></p>

<a href="/artists/<%= @artist.id %>/edit">Edit</a>

<form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
